<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Blog dla programistów</title>
    </head>
    <body>
        <div>
            <div>
                {% for post in posts %}
            </div>
            <div>
                <p>Opublikowany: {{post.publish_date}}</p>
                <h2><a href="">{{post.title}}</a></h2>
                <em>{{post.text|linebreaksbr}}</em>
            </div>

            {% comment %}
            Tutaj lista postów
            {% endcomment %}
            
            {% endfor %}
        </div>

    </body>
</html>